<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="ISO-8859-1">
<meta http-equiv="refresh" content="5; URL='/login'"/>

<title>Registration Success</title>

		<style type="text/css">
				span {
					display: inline-block;
					width: 200px;
					text-align: left;
		}

		</style>

</head>

<body>
	<div align="center">
		<h2>Registration Succeeded!</h2>
		<span>Full name:</span><span th:text="${usuario.username}"></span><br /> 
					<span>E-mail:</span><span th:text="${usuario.email}"></span><br /> 
					<span>Password:</span><span th:text="${usuario.password}"></span><br /> 
					<span>Note:</span><span th:text="${usuario.policyTerms}"></span><br />
					
	</div>
</body>
</html>